@model task_2._0.Models.Register

@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
}

<h2>RegisterSuccess</h2>
<p>
    @Html.ActionLink("Login", "LoginStudent")
</p>

